:root {
  --page-background-color: #ffffff;
  --text-color: #434455;
  --main-text-color: #2e2f42;
  --primary-background-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --accent-dark-color: #404bbf;
}

body {
  color: var(--text-color);
  background-color: var(--page-background-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*-------LOGO----------*/

.logo {
  margin-right: 76px;
  color: var(--accent-color);
}

.accent {
  color: var(--main-text-color);
}

.logo,
.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

/*------HEADER-------*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-list .header-link:hover,
.header-list .header-link:focus {
  color: #404bbf;
}

.header-list .header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-address {
  display: flex;
  gap: 40px;
}

/*--------HERO---------*/

.hero {
  padding: 188px 0;
  background-color: var(--main-text-color);
}

.hero-name {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-weight: 700px;
  font-size: 56px;
  max-width: 496px;
  color: var(--page-background-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/*------Header-Button------*/

.header-button:hover,
.header-button:focus {
  background-color: #404bbf;
}

.header-button {
  display: block;
  min-width: 169px;
  text-align: center;
  padding: 16px 32px;
  height: 56px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  color: var(--page-background-color);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

/*----Section-Features------*/

.section-features {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.about-features {
  display: flex;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-features-item {
  width: calc((100% - 72px) / 4);
}

.section-title {
  margin-bottom: 8px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  max-width: 264px;
}

.features-doing {
  padding-bottom: 120px;
}

.team-features {
  padding-bottom: 120px;
  padding-top: 120px;
}

.section-features-doing {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}
.picture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  padding: 0;
}

.picture-list-image {
  width: calc((100% - 48px) - 3);
}

/*----------Section-Team---------*/

.section-team {
  padding: 120px 0;
  margin: 0;
  background-color: var(--primary-background-color);
}

.section-team-features {
  margin-bottom: 72px;

  color: var(--main-text-color);

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.list-team {
  display: flex;
  gap: 24px;
}

.list-team-image {
  background-color: var(--page-background-color);
  width: calc((100%-72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.container-info {
  padding: 32px 16px;
}

.section-team-title {
  text-align: center;
  margin-bottom: 8px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-team-text {
  text-align: center;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-------PORTFOLIO--------*/

/*-------Buttons--------*/

.button-list {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
  gap: 24px;
}

.button-list-item {
  width: calc((100% - 96px) - 5);
}

.button-btn {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--primary-background-color);
  cursor: pointer;
}

.button-btn:hover,
.button-btn:focus {
  color: var(--page-background-color);
  background-color: var(--accent-dark-color);
  border: 1px solid transparent;
}

/*--------Gallery------*/

.portfolio {
  padding: 96px 0 120px;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 120px;
}

.gallery-item {
  width: calc((100% - 48px) - 3);
}

.gallery-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.project-name {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*----FOOTER----*/

.footer {
  background-color: var(--main-text-color);
  padding: 100px 0;
}

.footer-text {
  padding-top: 16px;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
}

.logo-logo {
  color: var(--accent-color);
  display: inline-block;
  margin-bottom: 16px;
}

.accent-accent {
  color: var(--primary-background-color);
}

.logo-logo,
.accent-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
